/* begin Page */

#art-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
}

.art-postcontent a
{
    text-decoration: none;
    color: #73903C;
}

.art-postcontent a:link
{
    text-decoration: none;
    color: #73903C;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
    color: #4D4D4D;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
    text-decoration: underline;
    color: #1A1A1A;
}

.art-postcontent h1
{
    color: #4D4D4D;
    margin: 21px 0;
}

.art-blockcontent h1
{
    margin: 21px 0;
}

.art-postcontent h2
{
    color: #666666;
    margin: 19px 0;
    font-size: 24px;
}

.art-blockcontent h2
{
    margin: 19px 0;
    font-size: 24px;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited
{
    font-size: 24px;
}

.art-postcontent h3
{
    color: #666666;
    margin: 19px 0;
    font-size: 19px;
}

.art-blockcontent h3
{
    margin: 19px 0;
    font-size: 19px;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited
{
    font-size: 19px;
}

.art-postcontent h4
{
    color: #292929;
    margin: 20px 0;
    font-size: 16px;
}

.art-blockcontent h4
{
    margin: 20px 0;
    font-size: 16px;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited
{
    font-size: 16px;
}

.art-postcontent h5
{
    color: #292929;
    margin: 26px 0;
    font-size: 13px;
}

.art-blockcontent h5
{
    margin: 26px 0;
    font-size: 13px;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited
{
    font-size: 13px;
}

.art-postcontent h6
{
    color: #333333;
    margin: 35px 0;
    font-size: 11px;
}

.art-blockcontent h6
{
    margin: 35px 0;
    font-size: 11px;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited
{
    font-size: 11px;
}

ul
{
    list-style-type: none;
}

ol
{
    list-style-position: inside;
}

html
{
    height:100%;
}

#art-main
{
    position: relative;
    z-index: 0;
    width: 100%;
    left: 0;
    top: 0;
    cursor:default;
    overflow:visible;
}

#art-page-background-glare
{
    position: absolute;
    left: 0;
    top:0;
    width:700px;
    height:303px;
    overflow:hidden;
    min-width: 1000px;
}

#art-page-background-glare-image
{
    position: fixed;
    width:700px;
    top: 0;
    height:303px;
    background-image: url('/static/assets/layout/images/page_gl.png');
    background-repeat: no-repeat;
}

html:first-child #art-page-background-glare
{
    border: 1px solid transparent; /* Opera fix */
}

body
{
    padding: 0;
    margin:0;
    color: #292929;
    height:100%;
    min-height:100%;
    background-color: #BABABA;
    /*background-image: url('/static/assets/layout/images/Bottom_texture.jpg');*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;
    min-width: 1000px;
}

.cleared
{
    display:block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    height:0;
    overflow:hidden;
}

.reset-box
{
    overflow:hidden;
    display:table;
}

form
{
    padding: 0 !important;
    margin: 0 !important;
}

table.position
{
    position: relative;
    width: 100%;
    table-layout: fixed;
}

/* end Page */

/* begin Menu */
/* menu structure */

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a:hover
{
    outline: none;
}

.art-hmenu, .art-hmenu ul
{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    display: block;
}

.art-hmenu li
{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    float: left;
    position: relative;
    z-index: 5;
    background: none;
}

.art-hmenu li:hover
{
    z-index: 10000;
    white-space: normal;
}

.art-hmenu li li
{
    float: none;
}

.art-hmenu ul
{
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background: none;
    min-height: 0;
    background-image: url('/static/assets/layout/images/spacer.gif');
    padding: 10px 30px 30px 30px;
    margin: -10px 0 0 -30px;
}

.art-hmenu li:hover>ul
{
    visibility: visible;
    top: 100%;
}

.art-hmenu li li:hover>ul
{
    top: 0;
    left: 100%;
}

.art-hmenu:after, .art-hmenu ul:after
{
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}
.art-hmenu{
    min-height: 0;
    position:relative;
    padding: 3px 0 3px 0;
}

.art-hmenu ul ul
{
    padding: 30px 30px 30px 10px;
    margin: -30px 0 0 -10px;
}

/* menu structure */

.art-nav
{
    position: relative;
    width:1000px;
    margin:0 auto;
    min-height: 31px;
    z-index: 100;
    margin-top: 7px;
    margin-bottom: -3px;
}

.art-nav-outer
{
    position:absolute;
    width:100%;
}

.art-nav-wrapper
{
    position: relative;
    width:1000px;
    margin:0 auto;
}
.art-nav-inner
{
    margin: 0 3px;
}

.art-nav-l, .art-nav-r
{
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    background-image: url('/static/assets/layout/images/nav.png');
}

.art-nav-l
{
    left: 0;
    right: 7px;
}

.art-nav-r
{
    right: 0;
    width: 1000px;
    clip: rect(auto, auto, auto, 993px);
}

/* end Menu */

/* begin MenuItem */
.art-hmenu a
{
    position: relative;
    display: block;
    overflow: hidden;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}

.art-hmenu ul li
{
    margin:0;
    clear: both;
}

.art-hmenu a .r, .art-hmenu a .l
{
    position: absolute;
    display: block;
    top: 0;
    z-index: -1;
    height: 85px;
    background-image: url('/static/assets/layout/images/menuitem.png');
}

.art-hmenu a .l
{
    left: 0;
    right: 0;
}

.art-hmenu a .r
{
    width: 400px;
    right: 0;
    clip: rect(auto, auto, auto, 400px);
}

.art-hmenu a .t, .art-hmenu ul a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a:hover
{
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}

.art-hmenu a .t
{
    color: #404040;
    padding: 0 22px;
    margin: 0 0;
    line-height: 25px;
    text-align: center;
}

.art-hmenu a:hover .l, .art-hmenu a:hover .r
{
    top: -30px;
}

.art-hmenu li:hover>a .l, .art-hmenu li:hover>a .r
{
    top: -30px;
}

.art-hmenu li:hover a .l, .art-hmenu li:hover a .r
{
    top: -30px;
}
.art-hmenu a:hover .t
{
    color: #FFFFFF;
}

.art-hmenu li:hover a .t
{
    color: #FFFFFF;
}

.art-hmenu li:hover>a .t
{
    color: #FFFFFF;
}

.art-hmenu a.active .l, .art-hmenu a.active .r
{
    top: -60px;
}

.art-hmenu a.active .t
{
    color: #E0E0E0;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-hmenu .art-hmenu-li-separator
{
    display: block;
    width: 2px;
    height:25px;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-hmenu ul a
{
    display: block;
    white-space: nowrap;
    height: 20px;
    width: 180px;
    overflow: hidden;
    background-image: url('/static/assets/layout/images/subitem.png');
    background-position: left top;
    background-repeat: repeat-x;
    border-width: 0;
    border-style: solid;
    text-align: left;
    text-indent: 12px;
    text-decoration: none;
    line-height: 20px;
    color: #000000;
    font-size: 13px;
    margin:0;
    padding:0;
}

.art-nav ul.art-hmenu ul span, .art-nav ul.art-hmenu ul span span
{
    display: inline;
    float: none;
    margin: inherit;
    padding: inherit;
    background-image: none;
    text-align: inherit;
    text-decoration: inherit;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a:hover, .art-hmenu ul a:active, .art-nav ul.art-hmenu ul span, .art-nav ul.art-hmenu ul span span
{
    text-align: left;
    text-indent: 12px;
    text-decoration: none;
    line-height: 20px;
    color: #000000;
    font-size: 13px;
    margin:0;
    padding:0;
}

.art-hmenu ul li a:hover
{
    color: #FFFFFF;
    background-position: 0 -20px;
}

.art-hmenu ul li:hover>a
{
    color: #FFFFFF;
    background-position: 0 -20px;
}

.art-nav .art-hmenu ul li a:hover span, .art-nav .art-hmenu ul li a:hover span span
{
    color: #FFFFFF;
}

.art-nav .art-hmenu ul li:hover>a span, .art-nav .art-hmenu ul li:hover>a span span
{
    color: #FFFFFF;
}

/* end MenuSubItem */

/* begin Header */
div.art-header
{
    margin: 0 auto;
    position: relative;
    z-index: -1;
    width:1000px;
    height: 206px;
    margin-top: 7px;
    margin-bottom: -3px;
}

div.art-header-clip
{
    position: absolute;
    width:100%;
    left:0;
    overflow:hidden;
    height:206px;
}

.art-header-wrapper
{
    position: relative;
    width:1000px;
    margin:0 auto;
}
.art-header-inner
{
    margin: 0 3px;
}

div.art-header-center
{
    position: relative;
    width: 1000px;
    left:50%;
}

div.art-header-png
{
    position: absolute;
    left:-50%;
    top: 0;
    width: 996px;
    height: 206px;
    /*background-image: url('/static/assets/layout/images/header.jpg'); */
    background-repeat: no-repeat;
    background-position:center center;
    background-color: #4f6328;
}

div.art-header-jpeg
{
    position: absolute;
    top: 0;
    left:-50%;
    width: 1000px;
    height: 206px;
    background-image: url('/static/assets/layout/images/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
/* end Header */

/* begin Logo */
div.art-logo
{
    display: block;
    position: absolute;
    top: 61px;
    left: 2%;
    margin-left: -2px;
}

h1.art-logo-name
{
    display: block;
    text-align: left;
    font-size: 48px;
    padding: 0;
    margin: 0;
    color: #FFFFFF !important;
}
h1.art-logo-name a,
h1.art-logo-name a:link,
h1.art-logo-name a:visited,
h1.art-logo-name a:hover
{
    font-size: 48px;
    padding: 0;
    margin: 0;
    color: #FFFFFF !important;
}

h2.art-logo-text
{
    display: block;
    text-align: left;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #BFBFBF !important;
}
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #BFBFBF !important;
}

#headline, #slogan
{
    display: block;
    min-width: 150px;
    text-align: left;
}
/* end Logo */

/* begin Box, Sheet */
.art-sheet
{
    position: relative;
    margin: 0 auto;
    min-width: 15px;
    min-height: 15px;
    margin-top: 7px;
    margin-bottom: -3px;
    cursor:auto;
    width: 1000px;
}

.art-sheet-body
{
    position: relative;
    padding: 3px;
    padding-top:3px;
    padding-bottom:3px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
    position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
    width: 26px;
    height: 26px;
    background-image: url('/static/assets/layout/images/sheet_s.png');
}

.art-sheet-tl
{
    top: 0;
    left: 0;
    clip: rect(auto, 13px, 13px, auto);
}

.art-sheet-tr
{
    top: 0;
    right: 0;
    clip: rect(auto, auto, 13px, 13px);
}

.art-sheet-bl
{
    bottom: 0;
    left: 0;
    clip: rect(13px, 13px, auto, auto);
}

.art-sheet-br
{
    bottom: 0;
    right: 0;
    clip: rect(13px, auto, auto, 13px);
}

.art-sheet-tc, .art-sheet-bc
{
    left: 13px;
    right: 13px;
    height: 26px;
    background-image: url('/static/assets/layout/images/sheet_h.png');
}

.art-sheet-tc
{
    top: 0;
    clip: rect(auto, auto, 13px, auto);
}

.art-sheet-bc
{
    bottom: 0;
    clip: rect(13px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
    top: 13px;
    bottom: 13px;
    width: 26px;
    background-image: url('/static/assets/layout/images/sheet_v.png');
}

.art-sheet-cr
{
    right: 0;
    clip: rect(auto, auto, auto, 13px);
}

.art-sheet-cl
{
    left: 0;
    clip: rect(auto, 13px, auto, auto);
}

.art-sheet-cc
{
    position: absolute;
    top: 13px;
    left: 13px;
    right: 13px;
    bottom: 13px;
    background-color: #FFFFFF;
}

#art-page-background-top-texture, #art-page-background-middle-texture{
    min-width: 1000px;
}

/* end Box, Sheet */

/* begin Layout */
.art-content-layout
{
    display: table;
    position:relative;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: Transparent;
    border: none !important;
    padding:0 !important;
    width:100%;
    margin-top:0;
    margin-bottom:0;
}
.art-layout-cell, .art-content-layout-row
{
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    border: none;
    margin:0;
    padding:0;
}

.art-content-layout .art-content-layout{margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
    position: relative;
    min-width: 1px;
    min-height: 1px;
    margin: 0;
}

.art-vmenublock-body
{
    position: relative;
    padding: 0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
    margin-bottom: 0;
    position: relative;
    height: 34px;
}

.art-vmenublockheader h3.t
{
    position: relative;
    height: 34px;
    color: #000000;
    font-size: 14px;
    margin:0;
    padding: 0 10px 0 5px;
    white-space: nowrap;
    line-height: 34px;
}

.art-vmenublockheader h3.t a,
.art-vmenublockheader h3.t a:link,
.art-vmenublockheader h3.t a:visited,
.art-vmenublockheader h3.t a:hover
{
    color: #000000;
    font-size: 14px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
    position: relative;
    margin: 0 auto;
    min-width: 1px;
    min-height: 1px;
}

.art-vmenublockcontent-body
{
    position: relative;
    padding: 0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 0;
}

ul.art-vmenu
{
    margin-top: 0;
    margin-bottom: 0;
}

ul.art-vmenu ul
{
    display: none;
    padding: 0;
    margin:0 0 0 0;
}

ul.art-vmenu ul.active
{
    display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
    position: relative;
    display: block;
    overflow: hidden;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
    display: block;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span
{
    display: block;
    padding: 0;
    font-size: 1px;
    height: 0;
    line-height: 0;
    border: none;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
    position: absolute;
    display: block;
    top: 0;
    height: 100px;
    background-image: url('/static/assets/layout/images/vmenuitem.png');
}

ul.art-vmenu a .l
{
    left: 0;
    right: 0;
}

ul.art-vmenu a .r
{
    width: 994px;
    right: 0;
    clip: rect(auto, auto, auto, 994px);
}

ul.art-vmenu a .t, ul.art-vmenu ul a
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

ul.art-vmenu a .t
{
    display: block;
    position:relative;
    top:0;
    line-height: 30px;
    color: #545454;
    padding: 0 10px 0 10px;
    margin-left:0;
    margin-right:0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
    top: -70px;
}

ul.art-vmenu a.active .t
{
    color: #FFFFFF;
}

ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
    top: -35px;
}

ul.art-vmenu a:hover .t
{
    color: #3D3D3D;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul li
{
    margin: 0;
    padding: 0;
}

ul.art-vmenu ul a
{
    display: block;
    white-space: nowrap;
    height: 20px;
    overflow: visible;
    background-image: url('/static/assets/layout/images/vsubitem.gif');
    background-position: 25px 0;
    background-repeat: repeat-x;
    padding: 0 0 0 25px;
    line-height: 20px;
    color: #3B3B3B;
    font-weight: normal;
    font-size: 11px;
    margin-left: 0;
}

ul.art-vmenu ul ul li
{
    padding:0;
}

ul.art-vmenu ul span, ul.art-vmenu ul span span
{
    display: inline;
    float: none;
    margin: inherit;
    padding: inherit;
    background-image: none;
    text-align: inherit;
    text-decoration: inherit;
}

ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
    line-height: 20px;
    color: #3B3B3B;
    font-weight: normal;
    font-size: 11px;
    margin-left: 0;
}

ul.art-vmenu ul ul
{
    margin:0 0 0 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{
    display: block;
    margin: 0;
    font-size: 1px;
    padding: 0 0 0 0;
}

ul.art-vmenu ul .art-vsubmenu-separator-span
{
    display: block;
    padding: 0;
    font-size: 1px;
    height: 0;
    line-height: 0;
    margin: 0;
    border: none;
}

ul.art-vmenu ul li.art-vmenu-separator-first
{
    margin-bottom:0;
    padding-bottom:0;
}

ul.art-vmenu ul li li a
{
    background-position: 50px 0;
    padding: 0 0 0 50px;
}

ul.art-vmenu ul li li li a
{
    background-position: 75px 0;
    padding: 0 0 0 75px;
}

ul.art-vmenu ul li li li li a
{
    background-position: 100px 0;
    padding: 0 0 0 100px;
}

ul.art-vmenu ul li li li li li a
{
    background-position: 125px 0;
    padding: 0 0 0 125px;
}

ul.art-vmenu ul li a.active
{
    color: #FFFFFF;
    background-position: 25px -50px;
}

ul.art-vmenu ul li li a.active
{
    background-position: 50px -50px;
}

ul.art-vmenu ul li li li a.active
{
    background-position: 75px -50px;
}

ul.art-vmenu ul li li li li a.active
{
    background-position: 100px -50px;
}

ul.art-vmenu ul li li li li li a.active
{
    background-position: 125px -50px;
}

ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
    color: #242424;
    background-position: 25px -25px;
}

ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
    background-position: 50px -25px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
    background-position: 75px -25px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
    background-position: 100px -25px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
    background-position: 125px -25px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
    position: relative;
    min-width: 1px;
    min-height: 1px;
    margin: 7px;
}

.art-block-body
{
    position: relative;
    padding: 0;
}

div.art-block img
{
    /* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #AEC97E;
    border-style: solid;
    margin: 0;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
    margin-bottom: 0;
    position: relative;
    height: 26px;
}

.art-blockheader h3.t
{
    position: relative;
    height: 26px;
    color: #000000;
    font-size: 14px;
    margin:0;
    padding: 0 10px 0 5px;
    white-space: nowrap;
    line-height: 26px;
}

.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited,
.art-blockheader h3.t a:hover
{
    color: #000000;
    font-size: 14px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
    position: relative;
    margin: 0 auto;
    min-width: 1px;
    min-height: 1px;
}

.art-blockcontent-body
{
    position: relative;
    padding: 5px;
    color: #262626;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

.art-blockcontent-body table,
.art-blockcontent-body li,
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
    color: #262626;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

.art-blockcontent-body p
{
    margin: 6px 0;
}

.art-blockcontent-body a, .art-blockcontent-body a:link
{
    color: #545454;
    text-decoration: underline;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
    color: #9ABB5D;
    text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
    color: #1C1C1C;
    text-decoration: none;
}

.art-blockcontent-body ul li
{
    line-height: 125%;
    color: #4D4D4D;
    padding: 0 0 0 12px;
    background-image: url('/static/assets/layout/images/blockcontentbullets.png');
    background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
    text-decoration: none;
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    position:relative;
    top:0;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #DBDBDB !important;
    width: auto;
    outline: none;
    border: none;
    background: none;
    line-height: 32px;
    height: 32px;
    margin: 0 !important;
    padding: 0 16px !important;
    overflow: visible;
    cursor: pointer;
}

.art-button img, .art-button-wrapper img
{
    margin: 0;
    vertical-align: middle;
}

.art-button-wrapper
{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.firefox2 .art-button-wrapper
{
    display: block;
    float: left;
}

input, select, textarea
{
    vertical-align: middle;
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.art-block select
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
    color: #202811 !important;
    text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
    color: #1A1A1A !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
    display: block;
    position: absolute;
    height: 106px;
    margin: 0;
    padding: 0;
    background-image: url('/static/assets/layout/images/button.png');
}

.art-button-wrapper .art-button-l
{
    left: 0;
    right: 7px;
}

.art-button-wrapper .art-button-r
{
    width: 401px;
    right: 0;
    clip: rect(auto, auto, auto, 394px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
    top: -37px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
    top: -74px;
}

.art-button-wrapper input
{
    float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
    position: relative;
    min-width: 1px;
    min-height: 1px;
    margin: 10px;
}

.art-post-body
{
    position: relative;
    padding: 15px;
}

a img
{
    border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
    border: solid 0 #AEC97E;
    margin: 5px;
}

.art-metadata-icons img
{
    border: none;
    vertical-align: middle;
    margin: 2px;
}

.art-article table, table.art-article
{
    border-collapse: collapse;
    margin: 1px;
}

.art-article th, .art-article td
{
    padding: 2px;
    border: solid 1px #949494;
    vertical-align: top;
    text-align: left;
}

.art-article th
{
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

pre
{
    overflow: auto;
    padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.art-postheader
{
    color: #485A26;
    margin: 5px 0;
    font-size: 24px;
}

h2.art-postheader a,
h2.art-postheader a:link,
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
    font-size: 24px;
}

h2.art-postheader a, h2.art-postheader a:link
{
    text-align: left;
    text-decoration: none;
    color: #73903C;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{
    color: #4D4D4D;
}

h2.art-postheader a:hover,  h2.art-postheader a.hovered
{
    color: #1A1A1A;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
    font-family: Arial, Helvetica, Sans-Serif;
    color: #5F7732;
}

.art-postheadericons
{
    padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
    text-decoration: none;
    color: #4D4D4D;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
    font-style: italic;
    font-weight: normal;
    color: #4D4D4D;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
    color: #4D4D4D;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.art-post ol, .art-post ul
{
    margin: 1em 0 1em 2em;
    padding: 0;
}

.art-post li
{
    font-size: 13px;
    color: #545454;
    padding: 0 0 0 14px;
}

.art-post li ol, .art-post li ul
{
    margin: 0.5em 0 0.5em 2em;
    padding: 0;
}

.art-post ol>li
{
    background: none;
    padding-left: 0;
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible;
}

.art-post ul>li
{
    background-image: url('/static/assets/layout/images/postbullets.png');
    background-repeat: no-repeat;
    padding-left: 14px;
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
    color: #0E1208;
    font-style: italic;
    font-weight: normal;
    text-align: left;
}

.art-postcontent blockquote p
{
    margin: 2px 0 2px 15px;
}

.art-postcontent blockquote
{
    border: solid 0 #AEC97E;
    margin: 10px 10px 10px 50px;
    padding: 12px 12px 12px 46px;
    background-color: #CCDCAC;
    background-image: url('/static/assets/layout/images/postquote.png');
    background-position: left top;
    background-repeat: no-repeat;
    /* makes blockquote not to align behind the image if they are in the same line */
    overflow: auto;
    clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
    font-family: Arial, Helvetica, Sans-Serif;
    color: #75933E;
}

.art-postfootericons
{
    padding: 1px;
}

.art-postfootericons a, .art-postfootericons a:link
{
    text-decoration: none;
    color: #4D4D4D;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{
    color: #4D4D4D;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
    color: #4D4D4D;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.art-footer
{
    position: relative;
    margin-top:0;
    margin-bottom:0;
    width: 100%;
}

.art-footer-t
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BABABA;
}

.art-footer-body
{
    position:relative;
    padding: 5px;
}

.art-footer-body .art-rss-tag-icon
{
    position: absolute;
    left:   6px;
    bottom:5px;
    z-index:1;
}

.art-rss-tag-icon
{
    display: block;
    background-image: url('/static/assets/layout/images/rssicon.png');
    background-position: center right;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    cursor: default;
}

.art-footer-text p
{
    padding:0;
    margin:0;
    text-align: center;
}

.art-footer-text,
.art-footer-text a,
.art-footer-text a:link,
.art-footer-text a:visited,
.art-footer-text a:hover,
.art-footer-text td,
.art-footer-text th,
.art-footer-text caption
{
    color: #171717;
    font-size: 11px;
}

.art-footer-text
{
    min-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.art-footer-text a,
.art-footer-text a:link
{
    color: #292929;
    text-decoration: none;
}

.art-footer-text a:visited
{
    color: #3D3D3D;
}

.art-footer-text a:hover
{
    color: #2E3A18;
    text-decoration: underline;
}

div.art-footer img
{
    /* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #AEC97E;
    border-style: solid;
    margin: 0;
}/* end Footer */

/* begin PageFooter */
.art-page-footer,
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
    font-family: Arial;
    font-size: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    color: #545454;
}

.art-page-footer
{
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #3D3D3D;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */

.art-content-layout .art-sidebar1
{
    background-color: #F2F2F2;
    width: 200px;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */

.art-content-layout .art-content .art-block
{
    background-color: #F2F2F2;
}
/* end LayoutCell, content */


/* -------------------------------------------------- *\
	7. Modal dialog
\* -------------------------------------------------- */

.modal-dialog,
.modal-dialog-overlay,
.modal-dialog button,
.lte-ie9 .modal-dialog button {
    display: none;
}
.modal-dialog {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 418px;
    margin: 0 0 0 -240px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    background: #fff;
    z-index: 9999;
}
.modal-dialog-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: .3;
    z-index: 9998;
}
.lte-ie8 .modal-dialog-overlay {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity = 30);
}
.modal-dialog p {
    margin-bottom: 20px;
}
.modal-dialog button,
.lte-ie9 .modal-dialog button {
    margin-right: 30px;
    padding: 0 30px;
}
.lte-ie8 .modal-dialog {
    width: 420px;
    border: 0;
    padding-bottom: 22px;
    background: url('/static/assets/layout/background-modal-dialog.png');
}
.lte-ie8 .modal-dialog .bottom {
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 8px;
    padding-bottom: 22px;
    background: url('/static/assets/layout/background-modal-dialog.png') bottom;
}


/* -------------------------------------------------- *\
	8. Unsupported Browser dialog
\* -------------------------------------------------- */

.unsupported-browser-dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    filter: alpha(opacity = 30);
    opacity: .3;
    zoom: 1;
    z-index: 9998;
}
.unsupported-browser-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 840px;
    margin: -280px 0 0 -450px;
    border: solid #e6e6e6;
    border-width: 0 1px;
    padding: 20px 30px;
    background-color: #fff;
    z-index: 9999;
}
.unsupported-browser-dialog h1 {
    margin-bottom: 20px;
}
.unsupported-browser-dialog h2 {
    margin-bottom: 0;
}
.unsupported-browser-dialog p {
    margin: 10px 0 0;
}
.unsupported-browser-dialog .browser {
    width: 840px;
    height: 200px;
    margin: 50px 0;
}
.unsupported-browser-dialog .browser a {
    position: relative;
    float: left;
    width: 164px;
    height: 200px;
    margin-left: 45px;
    background: url('/static/assets/layout/unsupported-browser-dialog/browsers.png') no-repeat;
}
.unsupported-browser-dialog .browser .chrome {
    margin-left: 20px;
}
.unsupported-browser-dialog .browser .firefox {
    background-position: -164px 0;
}
.unsupported-browser-dialog .browser .safari {
    background-position: -328px 0;
}
.unsupported-browser-dialog .browser .opera {
    background-position: -492px 0;
}
.unsupported-browser-dialog .browser a span {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.unsupported-browser-dialog .close {
    position: absolute;
    top: 26px;
    right: 35px;
    width: 20px;
    height: 20px;
    background: url('/static/assets/layout/unsupported-browser-dialog/button-close.png') no-repeat;
}
.unsupported-browser-dialog .rounded-corner {
    background-color: transparent;
    background-image: url('/static/assets/layout/unsupported-browser-dialog/corners.png');
    font-size: 0;
}
.unsupported-browser-dialog .rounded-corner.top-left,
.unsupported-browser-dialog .rounded-corner.top-right {
    top: -8px;
}
.unsupported-browser-dialog .rounded-corner.bottom-left,
.unsupported-browser-dialog .rounded-corner.bottom-right {
    bottom: -8px;
}
.unsupported-browser-dialog .rounded-corner.top-middle,
.unsupported-browser-dialog .rounded-corner.bottom-middle {
    position: absolute;
    width: 886px;
    height: 7px;
    left: 7px;
    background: #fff;
}
.unsupported-browser-dialog .rounded-corner.top-middle {
    top: -8px;
    border-top: 1px solid #e6e6e6;
}
.unsupported-browser-dialog .rounded-corner.bottom-middle {
    bottom: -8px;
    border-bottom: 1px solid #e6e6e6;
}


