/* begin Page */

#art-page-background-glare
{
    zoom: 1;
}

#art-page-background-glare-image
{
    position:absolute;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/page_gl.png',sizingMethod='crop')");
    zoom: 1;
}

img
{
    filter: expression(artFixPNG(this));
}

.cleared
{
    width:1px;
}
/* end Page */

/* begin Menu */
.art-hmenu ul
{
    width: 1px;
    height: 1%;
}

.art-hmenu li.art-hmenuhover
{
    z-index: 10000;
}

.art-hmenu .art-hmenuhoverUL
{
    visibility: visible;
    top: 100%;
    left: 0;
}

.art-hmenu .art-hmenuhoverUL .art-hmenuhoverUL
{
    top: 0;
    left: 100%;
}

.art-hmenu, .art-hmenu ul a
{
    height: 1%;
}

.art-hmenu li li
{
    float: left;
    width: 100%;
}

.art-nav
{
    zoom: 1;
    height: 31px;
}

.art-nav-l, .art-nav-r
{
    font-size: 1px;
    height: 31px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/nav.png',sizingMethod='crop')");
}

.art-nav-l
{
    width: expression(this.parentNode.offsetWidth-7+'px');
}

.art-nav-r
{
    left: expression(this.parentNode.offsetWidth-1000+'px');
    clip: rect(auto auto auto 993px);
}

/* end Menu */

/* begin MenuItem */
.art-hmenu a
{
    display:inline-block;
}

.art-hmenu a:hover, .art-hmenuhoverA {
    visibility:visible;
}

.art-hmenu a .r, .art-hmenu a .l
{
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/menuitem.png',sizingMethod='crop')");
}

.art-hmenu a .r
{
    left:100%;
    margin-left:-400px;
    clip: rect(auto auto auto 400px);
}

.art-hmenu a .l
{
    width: expression(this.parentNode.offsetWidth-0+'px');
}

.art-hmenuhover .art-hmenuhoverA .t
{
    color: #FFFFFF;
}

.art-hmenuhover .art-hmenuhoverA .l, .art-hmenuhover .art-hmenuhoverA .r
{
    top: -25px;
}
/* end MenuItem */

/* begin MenuSubItem */
.art-hmenu ul a
{
    color: #000000 !important;
}

.art-hmenu ul a:hover {
    color: #FFFFFF !important;
}

.art-hmenu ul .art-hmenuhover .art-hmenuhoverA
{
    color: #FFFFFF !important;
    background-position: 0 -20px;
}

.art-nav .art-hmenu ul a:hover span, .art-nav .art-hmenu ul a:hover span span
{
    color: #FFFFFF !important;
}

.art-nav .art-hmenu ul .art-hmenuhover .art-hmenuhoverA span, .art-nav .art-hmenu ul .art-hmenuhover .art-hmenuhoverA span span
{
    color: #FFFFFF !important;
}

/* end MenuSubItem */

/* begin Header */
div.art-header-png
{
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/header.png',sizingMethod='crop')");
}

/* end Header */

/* begin Box, Sheet */
.art-sheet, .art-sheet-body
{
    zoom: 1;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
    font-size: 1px;
    background: none;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/sheet_s.png',sizingMethod='scale')");
}

.art-sheet-tl
{
    clip: rect(auto 13px 13px auto);
}

.art-sheet-tr
{
    left:expression(this.parentNode.offsetWidth-26+'px');
    clip: rect(auto auto 13px 13px);
}

.art-sheet-bl
{
    top: expression(this.parentNode.offsetHeight-26+'px');
    clip: rect(13px 13px auto auto);
}

.art-sheet-br
{
    top: expression(this.parentNode.offsetHeight-26+'px');
    left:expression(this.parentNode.offsetWidth-26+'px');
    clip: rect(13px auto auto 13px);
}

.art-sheet-tc, .art-sheet-bc
{
    width: expression(this.parentNode.offsetWidth-26+'px');
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/sheet_h.png',sizingMethod='scale')");
}

.art-sheet-tc
{
    clip: rect(auto auto 13px auto);
}

.art-sheet-bc
{
    top: expression(this.parentNode.offsetHeight-26+'px');
    clip: rect(13px auto auto auto);
}

.art-sheet-cr, .art-sheet-cl
{
    height: expression(this.parentNode.offsetHeight-26+'px');
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/sheet_v.png',sizingMethod='scale')");
}

.art-sheet-cr
{
    left:expression(this.parentNode.offsetWidth-26+'px');
    clip: rect(auto auto auto 13px);
}

.art-sheet-cl
{
    clip: rect(auto 13px auto auto);
}

.art-sheet-cc
{
    font-size: 1px;
    width: expression(this.parentNode.offsetWidth-26+'px');
    height: expression(this.parentNode.offsetHeight-26+'px');
    background-color: #FFFFFF;
}
#art-page-background-top-texture, #art-page-background-middle-texture
{
    width: expression(document.body.clientWidth>1000?"100%":"1000px");
}

/* end Box, Sheet */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock, .art-vmenublock-body
{
    zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
    zoom: 1;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent, .art-vmenublockcontent-body
{
    zoom: 1;
}
.art-vmenublockcontent, .art-vmenublockcontent-body
{
    zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu .art-vmenu-separator, ul.art-vmenu .art-vmenu-separator-span, ul.art-vmenu li.art-vsubmenu-separator, ul.art-vmenu .art-vsubmenu-separator-span
{
    zoom: 1;
    overflow: hidden;
    float: left;
    width: 100%;
}

ul.art-vmenu a:hover
{
    visibility: visible;
}

ul.art-vmenu li
{
    zoom:1;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/vmenuitem.png',sizingMethod='crop')");
}

ul.art-vmenu a .r
{
    left:expression(this.parentNode.offsetWidth-994+'px');
    clip: rect(auto auto auto 994px);
}

ul.art-vmenu a .l
{
    width: expression(this.parentNode.offsetWidth-0+'px');
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul a
{
    color: #3B3B3B !important;
    position: relative;
    zoom: 1;
}
ul.art-vmenu ul li{
    position: relative;
    zoom: 1;
}

ul.art-vmenu ul a.active
{
    color: #FFFFFF !important;
}

ul.art-vmenu ul a:hover {
    color: #242424 !important;
}

ul.art-vmenu ul a:hover span, ul.art-vmenu ul a:hover span span
{
    color: #242424 !important;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block, .art-block-body
{
    zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
    zoom: 1;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent, .art-blockcontent-body
{
    zoom: 1;
}
.art-blockcontent-body ul li
{
    height: 1%;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper, .art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
    zoom: 1;
}

.art-button-wrapper .art-button
{
    float: left;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/button.png',sizingMethod='crop')");
}

.art-button-wrapper .art-button-r
{
    left:expression(this.parentNode.offsetWidth-401+'px');
    clip: rect(auto auto auto 394px);
}

.art-button-wrapper .art-button-l
{
    width: expression(this.parentNode.offsetWidth-7+'px');
}
/* end Button */

/* begin Box, Post */
.art-post, .art-post-body
{
    zoom: 1;
}
/* end Box, Post */

/* begin PostBullets */
.art-post ul li, .art-post ol ul li
{
    height: 1%;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/postbullets.png',sizingMethod='crop')");
    padding-left: 14px;
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden;
}

.art-post ul ol li
{
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
    padding-left: 0;
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible;
}
/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote
{
    height: 1%;
    background-image: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.art-footer-body
{
    padding-right: 0;
    zoom:1;
}

.art-footer{
    zoom:1;
}

.art-footer-text
{
    height: 32px;
}

.art-footer-t
{
    zoom: 1;
    font-size: 1px;
    height: expression(this.parentNode.offsetHeight-0+'px');
    width: 100%;
}

.art-rss-tag-icon
{
    zoom: 1;
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/assets/layout/images/rssicon.png',sizingMethod='crop')");
}

/* end Footer */

/* begin LayoutCell, content */

.art-content {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
    display: block;
    position:relative;
    float: left;
    clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {zoom:1;}

.art-content-layout .art-content .art-block
{
    background-color: #F2F2F2;
}
/* end LayoutCell, content */

