<#assign page = 'home'>
<#import "/spring.ftl" as spring>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[]>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>home - </title>
    <meta name="description" content="Description"/>
    <meta name="keywords" content="Keywords"/>


    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
    <!--[if IE 6]>
    <link rel="stylesheet" href="/static/css/style.ie6.css" type="text/css" media="screen"/><![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/css/style.ie7.css" type="text/css" media="screen"/><![endif]-->
    <link href="/static/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>

    <!-- we code these -->
    <link href="/static/css/dropzone.css" type="text/css" rel="stylesheet"/>

    <script type="text/javascript" src="/static/js/libs/jquery.1.9.1.min.js"></script>
    <script src="/static/js/libs/vendor/jquery.ui.widget.js"></script>
    <script src="/static/js/libs/jquery.iframe-transport.js"></script>
    <script src="/static/js/libs/jquery.fileupload.js"></script>
    <script src="/static/js/all.js"></script>
    <script src="/static/js/myuploadfunction.js"></script>
    <script type="text/javascript" src="/static/js/all.js"></script>

</head>
<body>
<div id="art-page-background-glare">
    <div id="art-page-background-glare-image"></div>
</div>
<div id="art-main">
<div class="cleared reset-box"></div>
<div class="art-nav">
    <div class="art-nav-l"></div>
    <div class="art-nav-r"></div>
    <div class="art-nav-outer">
        <div class="art-nav-wrapper">
            <div class="art-nav-inner">

                <ul class="art-hmenu">
                    <li>
                        <a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
                    </li>

                    <li>
                        <a href="/item/overview"><span class="l"></span><span class="r"></span><span class="t">Items</span></a>
                        <ul>
                            <li>
                                <a href="/item/overview">overzicht</a>
                            </li>
                            <li>
                                <a href="/item/new">toevoegen</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/user/overview"><span class="l"></span><span class="r"></span><span class="t">Users</span></a>
                        <ul>
                            <li>
                                <a href="/user/overview">overzicht</a>
                            </li>
                            <li>
                                <a href="/user/new">toevoegen</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/category/overview"><span class="l"></span><span class="r"></span><span class="t">Categorieën</span></a>
                        <ul>
                            <li>
                                <a href="/category/overview">overzicht</a>
                            </li>
                            <li>
                                <a href="/category/new">toevoegen</a>
                            </li>
                        </ul>
                    </li>
                    <!--<li>
                        <a href="/uploadfile"><span class="l"></span><span class="r"></span><span class="t">Upload</span></a>
                    </li>-->
                    <li>
                        <a href="/user/profile"><span class="l"></span><span class="r"></span><span class="t">My Profile</span></a>
                    </li>
                    <li>
                        <a href="/contact"><span class="l"></span><span class="r"></span><span class="t">Contact</span></a>
                    </li>
                    <div align="right" id="logout" onclick="logout();false;">                    </div>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="cleared reset-box"></div>
<div class="art-header">
    <div class="art-header-clip">
        <div class="art-header-center">
            <div class="art-header-png"></div>


        </div>
    </div>
    <div class="art-header-wrapper">
        <div class="art-header-inner">
            <div class="art-logo">
                <h1 class="art-logo-name"><a href="#">webapp</a></h1>

                <h2 class="art-logo-text">uitgevoerd in Spring MVC, Security & JPA framework</h2>

            </div>
        </div>
    </div>
</div>
<div class="cleared reset-box"></div>
<div class="art-sheet">
<div class="art-sheet-tl"></div>
<div class="art-sheet-tr"></div>
<div class="art-sheet-bl"></div>
<div class="art-sheet-br"></div>
<div class="art-sheet-tc"></div>
<div class="art-sheet-bc"></div>
<div class="art-sheet-cl"></div>
<div class="art-sheet-cr"></div>
<div class="art-sheet-cc"></div>




<div class="art-sheet-body">




<div class="art-content-layout">
<div class="art-content-layout-row">

<div class="art-layout-cell art-sidebar1">

    <form action="j_spring_security_check" method="post" >

        <label for="j_username">Gebruikersnaam</label>
        <input id="j_username" name="j_username" size="20" maxlength="50" type="text"/>
        <label for="j_password">Wachtwoord</label>
        <input id="j_password" name="j_password" size="20" maxlength="50" type="password"/>
        <input type="submit" value="Inloggen"/>
    </form>


    <div class="art-vmenublock">
        <div class="art-vmenublock-body">
            <div class="art-vmenublockheader">
                <h3 class="t">Categorien</h3>
            </div>
            <div class="art-vmenublockcontent">
                <div class="art-vmenublockcontent-body">

                    <ul class="art-vmenu">
                        <li>
                            <a href="/category/get/1"><span class="l"></span><span
                                    class="r"></span><span class="t">Snoep</span></a>
                        </li>

                        <li>
                            <a href="/category/get/2"><span class="l"></span><span
                                    class="r"></span><span class="t">Frisdrank</span></a>
                        </li>

                    </ul>


                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>
    <div class="art-block">
        <div class="art-block-body">
            <div class="art-blockheader">
                <h3 class="t">Search</h3>
            </div>
            <div class="art-blockcontent">
                <div class="art-blockcontent-body">
                    <form method="get" name="searchform" action="#">
                        <input type="text" value="" name="s"/>

                        <input type="button" name="search" class="art-button" value="Search"/>
                    </form>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>
    <div class="art-block">
    </div>

    <div class="cleared"></div>
</div>

<div class="art-layout-cell art-content">
    <div class="art-post">
        <div class="art-post-body">
            <div class="art-post-inner art-article">
                <h2 class="art-postheader">
                    Text, <a href="#" rel="bookmark" title="Permanent Link to this Post">Link</a>, <a class="visited"
                                                                                                      href="#"
                                                                                                      rel="bookmark"
                                                                                                      title="Visited Hyperlink">Visited</a>,
                    <a class="hovered" href="#" rel="bookmark" title="Hovered Hyperlink">Hovered</a>
                </h2>

                <div class="cleared"></div>
                <div class="art-postheadericons art-metadata-icons">
                    Wednesday, November 05, 2008
                    | Author <a href="#" title="Posts by Admin">Admin</a> | <a href="#" title="Edit">Edit</a></div>
                <div class="art-postcontent">

                    <img src="/static/assets/layout/images/preview.jpg" alt="an image" style="float:left;"/><img
                        src="/static/assets/layout/images/WP.png" alt="an image"
                        style="float:left;border:0;margin: 1em 1em 0 0;"/>

                    <p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing <a href="#"
                                                                                                                title="link">link</a>,
                        <a class="visited" href="#" title="visited link">visited link</a>,
                        <a class="hover" href="#" title="hovered link">hovered link</a> consectetuer adipiscing elit.
                        Quisque sed felis. Aliquam sit amet felis. Mauris semper, velit
                        semper laoreet dictum, quam diam dictum urna, nec placerat elit nisl <a href="#"
                                                                                                title="one more link">one
                            more link</a> in quam. Etiam
                        augue pede, molestie eget, rhoncus at, convallis ut, eros.</p>

                    <p>Aliquam pharetra. Nulla in tellus eget odio sagittis blandit.Maecenas at nisl. Nullam
                        lorem mi, eleifend a, fringilla vel, semper at, ligula. Mauris eu wisi. Ut ante
                        dui, aliquet nec, congue non, accumsan sit amet, lectus. Mauris et mauris. Duis
                        sed massa id mauris pretium venenatis. Suspendisse cursus velit vel ligula. Mauris
                        elit.</p>

                    <p>Aliquam pharetra. Nulla in tellus eget odio sagittis blandit.Maecenas at nisl. Nullam
                        lorem mi, eleifend a, fringilla vel, semper at, ligula. Mauris eu wisi. Ut ante
                        dui, aliquet nec, congue non, accumsan sit amet, lectus. Mauris et mauris. Duis
                        sed massa id mauris pretium venenatis. Suspendisse cursus velit vel ligula. Mauris
                        elit.</p>

                </div>
                <div class="cleared"></div>
                <div class="art-postfootericons art-metadata-icons">
                    Category: No Category | Tags: <a href="#" title="link">link</a>, <a href="#" title="visited link"
                                                                                        class="visited">visited</a>, <a
                        href="#" title="hovered link" class="hover">hovered</a> | <a href="#" title="Comments">No
                    Comments »</a>
                </div>
            </div>

            <div class="cleared"></div>
        </div>
    </div>
    <div class="art-post">
        <div class="art-post-body">
            <div class="art-post-inner art-article">
                <h2 class="art-postheader">
                    <a href="#" title="Permanent Link to this Post">Worth A Thousand Words</a>
                </h2>

                <div class="cleared"></div>
                <div class="art-postheadericons art-metadata-icons">
                    Thursday, September 11, 2008
                    | Author <a href="#" title="Posts by Admin">Admin</a> | <a href="#" title="Edit">Edit</a></div>
                <div class="art-postcontent">

                    <h1>Heading 1</h1>

                    <h2>Heading 2</h2>

                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>

                    <p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing
                        elit, <a href="#" title="test link">test link</a>. Nullam dignissim convallis est.
                        Quisque aliquam. <cite>cite</cite>. Nunc iaculis suscipit dui. Nam sit amet sem.
                        Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent
                        mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim
                        diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla
                        nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a
                        ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi
                        imperdiet augue quis tellus.<abbr title="Avenue">AVE</abbr></p>

                    <h3>List</h3>
                    <ul>
                        <li>List Item 1</li>
                        <li>List Item 2</li>
                        <li>List Item 3</li>
                    </ul>
                    <h3>Quote</h3>
                    <blockquote>
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”<br/>-Blockquote</p>
                    </blockquote>
                    <h3>Table</h3>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>

                </div>
                <div class="cleared"></div>
                <div class="art-postfootericons art-metadata-icons">
                    Category: No Category | Tags: <a href="#" title="link">link</a>, <a href="#" title="visited link"
                                                                                        class="visited">visited</a>, <a
                        href="#" title="hovered link" class="hover">hovered</a> | <a href="#" title="Comments">No
                    Comments »</a>
                </div>
            </div>

            <div class="cleared"></div>
        </div>
    </div>

    <div class="cleared"></div>
</div>

</div>
</div>
<div class="cleared"></div>
<div class="art-footer">
    <div class="art-footer-t"></div>
    <div class="art-footer-l"></div>
    <div class="art-footer-b"></div>
    <div class="art-footer-r"></div>
    <div class="art-footer-body">
        <a href="#" class="art-rss-tag-icon" title="RSS"></a>

        <div class="art-footer-text">
            <p><a href="#">Link1</a> | <a href="#">Link2</a> | <a href="#">Link3</a></p>

            <p>Copyright © 2013. All Rights Reserved.</p>
        </div>
        <div class="cleared"></div>
    </div>
</div>
<div class="cleared"></div>
</div>
</div>
<div class="cleared"></div>

<div class="cleared"></div>
</div>

<div class="modal-dialog-overlay" data-answer="close"></div>
<div class="modal-dialog">
    <p>test</p>
    <button data-answer="ok"><span>Sluiten</span><span></span></button>
    <button data-answer="yes"><span>Ja</span><span></span></button>
    <button data-answer="no"><span>Nee</span><span></span></button>
    <!--[if lte IE 8]>
    <div class="bottom"></div><![endif]-->
</div>

</body>
</html>

